{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЛХК "Тверские Козлы"</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header class="header">
        <div class="nav">
            <ul class="ul-nav">
                <li><a href="{% url 'main:club' %}">Клуб</a></li>
                <li><a href="{% url 'main:team' %}">Команда</a></li>
                <li><a href="#">Турниры</a></li>
                <a href="#" class="li-login">Войти</a>
            </ul>
        </div>
    </header>
    <section>
        <div class="container">
            <img src="{% static 'main/img/main_logo.jpg' %}" class="main-img" alt="Логотип ЛХК 'Тверские Козлы'">
        </div>
    </section>
    <footer class="footer">
        <div class="container-footer">
            <div class="footer-menu>">
                <ul class="ul-footer-menu">
                    <li><a href="{% url 'main:club' %}">Клуб</a></li>
                    <li><a href="{% url 'main:team' %}">Команда</a></li>
                    <li><a href="#">Турниры</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="footer-contact>">
                <ul class="ul-footer-contact">
                    <li>Мы в соцсетях:</li>
                    <li><a href="https://vk.com/tvergoats" title="Мы в VK">
                        <img src="{% static 'main/img/icon_vk_24.svg' %}" alt="VK"></a></li>
                    <li><a href="mailto:arkulikov@yandex.ru" title="Напишите нам">Написать нам</a></li>
                </ul>
            </div>
        </div>
        <div class="container-footer-line">
            <hr>
            <div class="footer-copyright">
                © All Right Reserved. ЛХК "Тверские козлы"
            </div>
        </div>
    </footer>
</body>
</html>